html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #4a3c31;
    height: 100%;
    background: url('../images/bg2.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    max-height: 95vh;
    overflow: hidden;
}

header {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 6px;
}

header .logo {
    font-size: 20px;
    margin-left: 10px;
    font-weight: 900;
    color: #977644;
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
}

header .nav-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #000000;
    font-weight: 800;
    font-size: small;
    transition: color 0.3s ease, text-decoration-color 0.3s ease;
}

header nav a.current {
    color: #E1BE42;
}

header nav a:hover {
    color: #E1BE42;
}


header .account-info {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

header .account-info .user-name {
    margin-right: 10px;
    font-weight: bold;
    color: #4a3c31;
    font-size: 17px;
    text-align: right;
    text-decoration: none;
}

header .account-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.login-btn {
    display: flex;
    align-items: center; 
    border: 2px solid #4a3c31; 
    padding: 2px 12px;
    border-radius: 25px;
    cursor: pointer; 
    transition: background-color 0.3s, border-color 0.3s; 
}

/* User name link styles */
.login-btn .user-name {
    margin-right: 10px;
    font-weight: bold;
    color: #4a3c31;
    font-size: 17px;
    text-decoration: none;
}

/* Account icon styles */
.login-btn img {
    width: 30px;
    height: 30px;
    border-radius: 50%; 
}

/* Hover effects */
.login-btn:hover {
    background-color: #e1be42e3;
    border-color: #3a2e24;
}

.login-btn .user-name:hover {
    color: #3a2e24; 
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 20px 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: #f0f0f0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 10px;
}


.dropdown img {
    cursor: pointer;
}

.about-us {
    background-color: rgba(255, 253, 239, 0.9);
    padding: 40px;
    border-radius: 10px;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
}

.about-us h1 {
    font-size: 36px;
    margin-top: 5px;
    color: #4a3c31;
}

.about-us p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #4a3c31;
}

footer {
    background-color: #977644;
    padding: 20px 20px;
    color: #fff;
    border-radius: 90px;
    margin: 20px auto 0;
    width: 80%;
    max-width: 1000px;
    text-align: start;
    flex-shrink: 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.contact-item img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    cursor: pointer;
}

.contact-text {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contact-text p:first-child {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
}

.divider {
    width: 1px;
    height: 50px;
    background-color: gray;
    margin: 20px 0;
}

.contact {
    font-style: italic;
    font-size: 14px; 
    color: #e0e0e0;
    margin-top: 0;
    margin-bottom: 10px;
}

.account-info {
    position: relative;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1001; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 400px;
    border-radius: 8px;
    text-align: center; 
}

.close {
    color: #ff0000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #977644;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #503e24;
}



@media (min-width: 600px) {
    .about-us {
        text-align: center;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        margin: -110px auto 20px;
    }

    .contact-info {
        flex-direction: row;
        justify-content: space-around;
    }

    .divider {
        height: 85px;
    }
}


@media (max-width: 649px) {

    header .logo {
        font-size: 18px;
        margin-left: 0;
        margin-right: 7px;
    }
    .contact-info {
        flex-direction: column;
        align-items: start;
        margin-left: 50px;
    }
    footer {
        border-radius: 60px;
        margin: -5px auto;
        padding: 0;
        text-align: center;
    }
    .divider {
        width: 280px;
        height: 1px;
        margin: -5px 0;
    }
        
    header nav a {
        margin: 0 5px;
        font-size: xx-small;
        text-align: center;
    }

    header .account-info .user-name {
        font-size: 12px;
        margin-right: 5px;
    }

    header .account-info {
        display: flex;
        align-items: center;
        margin-right: 15px;
    }
    
    .contact-item img {
        width: 45px;
        height: 45px;
    }

    .main {
        margin-top: 40px;
    }

    .about-us {
        padding: 10px;
    }
    
    .about-us h1 {
        font-size: x-large;
    }    

    .about-us p {
        font-size: small;
        line-height: 1.2;
        margin-bottom: 0;
    }    
}