html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #4a3c31;
    height: 100%;
    background: url('../images/bg3.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

html, body, main, .product-grid {
    height: 100%; /* Ensure all ancestors have height set */
}

body {
    display: flex;
    flex-direction: row; 
    height: 100vh;
    margin: 0;
    padding: 10px;
    overflow: hidden
}

header {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

header .logo {
    font-size: 20px;
    margin-left: 10px;
    font-weight: 900;
    color: #977644;
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
}

header .nav-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #000000;
    font-weight: 800;
    font-size: small;
    transition: color 0.3s ease, text-decoration-color 0.3s ease;
}

header nav a.current {
    color: #E1BE42;
}

header nav a:hover {
    color: #E1BE42;
}


header .account-info {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

header .account-info .user-name {
    margin-right: 10px;
    font-weight: bold;
    color: #4a3c31;
    font-size: 17px;
    text-align: right;
}

header .account-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}


img.notification-icon {
    margin-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f0f0f0;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown img {
    cursor: pointer;
}

div#notificationDropdown {
    width: 250px;
}

p {
    padding: 0 15px 10px;
    border-bottom: 1px solid #ddd;
}

main {
    flex: 1;
    max-width: 75%;
    margin: 75px auto;
    width: 100%;
    display: flex;
}


img.cart-icon {
    text-align: start;
    margin-right: 5px;
    margin-top: -5px;
    height: 40px;
    width: 40px;
}

.message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
}

.message-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.message-modal-content{
    background-color: white;
    /* margin-top: auto; */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #443225;
    border-radius: 15px;
    max-width: 20%;
    height: 15%;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.message-close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
    color: red;
}

.message-close:hover,
.message-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.cancel-btn {
    display: flex;
    align-items: center; 
    background-color: #FFFAE8;
    padding: 5px 0;
    border: none;
    gap: 10px;
    margin-bottom: 5px;
    margin-top: -10px;
    width: 100px;
}

.cancel-btn img.back-icon {
    height: 30px;
    width: 30px;
}

form#paymentForm {
    display: flex;
    justify-content: center;
    
}

button.message-cancel-btn,
button.message-confirm-btn,
button.close-modal-btn {
padding: 10px 20px;
background-color: #4a3c31;
color: #fff;
border: none;
border-radius: 30px;
cursor: pointer;
margin: -5px 5px 5px 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

table th {
    padding: 12px 15px;
    font-weight: bold;
}

table td {
    padding: 30px 15px;
}



h4 {
    display: flex;
    text-align: start;
    color: #333;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    margin: 5px 0;
}

.cart-summary {
    background-color: #FFFAE8;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    max-height: 80%;
    width:100%;
    overflow-y: auto; 
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1; 
}

.cart {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 25px;
}

.summary {
    width: 100%;
    flex: 3;
}

.summary p {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
}

.summary-item {
    display: flex;
    flex-direction: column;
}

.sub-total, .delivery-fee {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 16px;
}

.delivery-fee {
    padding-bottom: 50px;
    border-bottom: 1px dashed #B5AEAE;

}
.total {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}


.divider {
    width: 1px;
    align-self: stretch;
    background-color: #B5AEAE; 
    margin: 0 5px 25px 45px;
}

.delivery-details {
    width: 48%;
    flex: 2;
    background-color: #fff8e1;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.delivery-details h5 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.delivery-icon { 
    margin-right: 10px;
    margin-top: -15px;
    height: 40px;
    width: 40px;
}

.delivery-address, .cal-pad {
    background-color: #fde9a282;
    box-shadow: 3px 0 10px 0 rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* max-height: 85%; */
    /* width:100%; */
}

.delivery-address h6 {
    margin: 0 0 10px 0;
    font-size: medium;
}

.delivery-details select,
.delivery-details input {
    max-width: 350px;
    background-color: #fff9e3;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 15px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.delivery-details {
    max-width: 380px;
}

.custom-dropdown {
    position: relative;
    width: 100%;
}

.dropdown-selected {
    background-color: #fff9e3; 
    padding: 10px;     
    font-size: 14px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    cursor: pointer;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-options {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 12px;
    right: 0; 
    background-color: #fff9e3; 
    border: 1px solid #ccc; 
    z-index: 10;
    max-height: 200px; 
    overflow-y: auto; 
}

.dropdown-option {
    padding: 10px; 
    cursor: pointer; 
    white-space: normal; 
}

.dropdown-option:hover {
    background-color: #e0e0e0; 
}

.confirm-btn, .pay-btn{
    background-color: #FDE9A2;
    padding: 15px;
    color: #000000;
    border: 1px solid #000000;
    font-size: medium;
    width: 100%;
    max-width: 400px;
}


.confirm-btn,
.cancel-btn{
    border-radius: 30px;
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.payment-section {
    width: 48%;
    flex: 2;
    background-color: #fff8e1;
    border-radius: 8px;
    padding: 10px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.payment-section h5 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#total-amount {
    width: 100px;
    padding: 5px;
    text-align: right;
    font-size: 18px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
}

.total-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-line span {
    font-size: 18px;
    font-weight: bold;
}

.display-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    max-width: 98%;
}

#entered-amount {
    width: 100%;
    max-width: 200px;
    margin: 8px 10px auto 6px;
    padding: 10px;
    text-align: left;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.keypad .row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.key {
    width: 90px;
    height: 40px;
    font-size: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear-btn {
    background-color: #ffcccc;
    margin-top: 8px;
    margin-right: 5px;
    height: 45px;
    border-radius: 5px;
}

.receipt {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 8px;
    margin-bottom: -5px;
}

.pay-btn {
    background-color: #fdd98b;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
}

.pay-btn:hover {
    background-color: #fcc371;
}


.confirm-btn, .cancel-btn {
    /* padding: 10px 20px;
    margin: 10px; */
    font-size: 16px;
}


.no-address-message {
    margin-top: 10px;
    color: red; /* Or any color that fits your design */
}

.update-profile-btn {
    background-color: #FDE9A2;
    padding: 15px;
    color: #000000;
    border: 1px solid #000000;
    font-size: medium;
    width: 100%;
    max-width: 200px;
    border-radius: 20px;
    cursor: pointer;
}

.no-address-warning {
    display: flex;
    justify-content: flex-end;
    margin: -25px 0px;
}

.confirm-btn:disabled {
    background-color: gray;
    cursor: not-allowed;
}


.loading-screen {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1002;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.loading-screen .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

.loading-screen p {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}