html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #4a3c31;
    height: 100%;
    background: url('../images/bg3.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

html, body, main, .stock-grid {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row; 
    height: 100vh;
    margin: 0;
    padding: 10px;
    overflow: hidden
}

header {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 6px;
}

header .logo {
    font-size: 20px;
    margin-left: 10px;
    font-weight: 900;
    color: #977644;
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
}

header .nav-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #000000;
    font-weight: 800;
    font-size: small;
    transition: color 0.3s ease, text-decoration-color 0.3s ease;
}

header nav a.current {
    color: #E1BE42;
}

header nav a:hover {
    color: #E1BE42;
}


header .account-info {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

header .account-info .user-name {
    margin-right: 10px;
    font-weight: bold;
    color: #4a3c31;
    font-size: 17px;
    text-align: right;
}

header .account-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 80px;
    left: 20px;
    width: 200px;
    height: 86%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s ease; 
    flex-shrink: 0; 
}

.sidebar.current {
    width: 320px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start; 
    flex-grow: 1; 
} 

.sidebar nav ul li {
    margin: 15px 0;
    width: 100%; 
}

.sidebar nav ul li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    align-items: start;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 800;
    font-size: medium;
    display: flex;
    align-items: center; 
    gap: 10px; 
    width: 100%; 
    padding: 13px 20px; 
    box-sizing: border-box; 
    transition: color 0.3s ease, text-decoration-color 0.3s ease, background-color 0.3s ease;
}

.sidebar nav ul li a.current,
.sidebar nav ul li a:hover {
    color: #E1BE42;
    background-color: #FDE9A2; 
    -webkit-text-stroke: 1px #000;
}

.sidebar ul.reports {
    margin-top: auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start; 
}

.sidebar ul.reports {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start; 
} 

.sidebar ul.reports li {
    margin: 25px 0;
    width: 100%; 
}

.sidebar ul.reports li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    align-items: start;
}

.sidebar ul.reports li a {
    text-decoration: none;
    color: #000000;
    font-weight: 800;
    font-size: medium;
    display: flex;
    align-items: center; 
    gap: 10px; 
    width: 100%; 
    padding: 13px 20px; 
    box-sizing: border-box; 
    transition: color 0.3s ease, text-decoration-color 0.3s ease, background-color 0.3s ease;
}

.sidebar ul.reports li a.current,
.sidebar ul.reports li a:hover {
    color: #E1BE42;
    background-color: #FDE9A2; 
    -webkit-text-stroke: 1px #000;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 68px 10px auto 230px;
}


img.notification-icon {
    margin-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f0f0f0;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 10px;
}


.dropdown-content.show {
    display: block;
}

.dropdown img {
    cursor: pointer;
}

div#notificationDropdown {
    width: 250px;
}

p.notif {
    padding: 0 15px 10px;
    border-bottom: 1px solid #ddd;
}

/* Dropdown hidden by default */
#notificationDropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Dropdown shown when the show class is added */
#notificationDropdown.show {
    display: block;
}

/* Styling for each notification item */
#notificationDropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
#notificationDropdown a:hover {
    background-color: #f1f1f1;
}


.stock-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.search-wrapper {
    position: relative;
}

#searchInput {
    width: 250px;
    padding: 10px 40px 10px 10px;  
    border: 1px solid #000000;
    border-radius: 20px;
    font-size: 16px;
    margin-top: 4px;
}

.search-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    pointer-events: none;
}

.no-stock-found {
    font-size: large;
    text-align: center;
    margin-top: -75px;
}


.card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0;
    text-align: left;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 97%;
    height: 102.5%;
    max-height: calc(90vh - 107px);
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1; 
}

.card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #D20202;
    font-weight: 100;
}

.stock-card p {
    margin: 5px;
}

.stock-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    box-sizing: border-box;
}

.stock-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 100%; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

div#addNewstockBtn {
    border-style: dashed;
    border-width: 2px;
    border-color: gray; 
}

.stock-card, .stock-card.add-new {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 15px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
}

.stock-card img {
    max-width: 100%;
    max-height: 300px;
    margin-top: -5px;
    margin-bottom: 8px;
    border: 1px solid black;
}

.stock-card h4 {
    margin: 0;
    font-size: 1.1em;
}

.stock-actions {
    display: flex;     
    gap: 10px;
    margin-bottom: -5px;
    justify-content: center;  
    align-items: center; 
}

.add-stock-button {
    display: flex;   
    flex-direction: row;         
    align-items: center;       
    justify-content: center;    
    padding: 15px 100px;          
    margin: 5px;
    border-radius: 25px;
    background: #FDE9A2;
    border: 1px solid black;
    cursor: pointer;
    width: 100%;                 
    box-sizing: border-box;
}

.add-btn {
    padding: 10px 20px;
    background-color: #4a3c31;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: -5px;
    display: flex;
}

.form-group {
    display: flex;
    justify-content: center;
}

.add-btn:hover {
    background-color: #3a2e27;
}

.stock-actions button:hover {
    background-color: #ebce72;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
    font-size: 12px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: smaller;
    align-content: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 20px;
}

.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.message-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.message-modal-content {
    background-color: white;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #443225;
    border-radius: 15px;
    max-width: 20%;
    height: 15%;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.message-close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
    color: red;
}

.message-close:hover,
.message-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.message-button  {
    padding: 10px 20px;
    background-color: #4a3c31;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: -5px;
}


.stock-notification {
    font-size: 0.9em;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.low-stock {
    background-color: orangered;
}

.out-of-stock {
    background-color: darkred;
}

.in-stock {
    background-color: darkgreen;
}

.loading-screen {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.loading-screen .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

.loading-screen p {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



@media (min-width: 650px) {
    header {
        padding: 8px 20px;
    }
    
    .highlight {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .highlight-text {
        max-width: 35%;
        text-align: left;
        margin-left: 100px;
        margin-top: -150px;
    }

    .highlight-text h1 {
        font-size: 48px;
    }
    
    .highlight-text .highlights {
        font-size: 58px;
    }

    .highlight-image {
        position: relative;
        bottom: auto;
        right: auto;
        max-width: 500px;
    }
    
}

@media (max-width: 649px) {
    main {
        margin: 65px 0 auto 100px;
        padding: 0 10px;
        width: calc(100% - 20px);
    }

    header .logo {
        font-size: 18px;
        margin-left: 0;
        margin-right: 15px;
    }

    header nav a {
        margin: 0 5px;
        font-size: xx-small;
        text-align: center;
    }

    header .account-info .user-name {
        font-size: 12px;
        margin-right: 5px;
    }

    header .account-info img {
        margin-right: 10px;
    }

    header .account-info {
        display: flex;
        align-items: center;
        margin-right: 15px;
    }

    .sidebar {
        top: 75px;
        left: 10px;
        width: 100px;
        height: 88%;
        max-height: 87%;
    }

    .sidebar nav ul li a {
        font-size: xx-small;
        gap: 5px;
        padding: 13px 5px;
        justify-content: center;
    }

    .sidebar nav ul li img {
        width: 20px;
        height: 20px;
        margin-right: 2px;
    }

    .sidebar ul.reports li a {
        font-size: xx-small;
        gap: 5px;
        padding: 13px 5px;
        justify-content: center;
    }

    .sidebar ul.reports li img {
        width: 20px;
        height: 20px;
        margin-right: 2px;
    }

    .filter-button-current {
        padding: 5px 25px;
        font-size: 12px;
        width: 25%;
    }

    .filter-button {
        padding: 5px 25px;
        font-size: 12px;
        width: 25%;
    }

    .filter-button img, .filter-button-current img {
        width: 25px;
        height: 25px;
        margin: -5px 5px;
    }
    
    .search-container {
        display: flex;
        justify-content: flex-start;
    }

    .search-icon {
        transform: translateY(-50%);
        width: 21px;
        height: 21px;
    }

    #searchInput {
        width: 100px;
        padding: 7px 40px 7px 10px;
        font-size: 12px;
        margin-bottom: -2px;
    }
    
    .card {
        padding: 10px;
        width: 102%;
        max-width: 102%;
        height: 85.5vh;
        max-height: 86vh;
        margin: 0px auto auto 0px;
        box-sizing: border-box;
    }

    .stock-controls {
        margin-left: 0px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .stock-grid {
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px;
    }

    .stock-card, .stock-card.add-new {
        padding: 10px;
        width: 100%;
        height: auto;
        max-height: 345px;
        font-size: x-small;
    }

    .stock-card img {
        max-height: 150px; 
    }

    .stock-actions {
        flex-direction: row;
        margin-bottom: 5px;
    }

    .stock-actions .edit-button, 
    .stock-actions .delete-button,
    .add-stock-button {
        padding: 5px 10px; 
        width: 100%; 
        margin: 0px;
    }

}


@media (max-width: 375px) {
    main {
        margin: 65px 0 auto 100px;
        padding: 0 10px;
        width: calc(100% - 20px);
    }

    header .logo {
        font-size: 18px;
        margin-left: 0;
        margin-right: 15px;
    }

    header nav a {
        margin: 0 5px;
        font-size: xx-small;
        text-align: center;
    }

    header .account-info .user-name {
        font-size: 12px;
        margin-right: 5px;
    }

    header .account-info img {
        margin-right: 10px;
    }

    header .account-info {
        display: flex;
        align-items: center;
        margin-right: 15px;
    }

    .sidebar {
        top: 75px;
        left: 10px;
        width: 100px;
        height: 88%;
        max-height: 87%;
    }

    .sidebar nav ul li a {
        font-size: xx-small;
        gap: 5px;
        padding: 13px 5px;
        justify-content: center;
    }

    .sidebar nav ul li img {
        width: 20px;
        height: 20px;
        margin-right: 2px;
    }

    .sidebar ul.reports li a {
        font-size: xx-small;
        gap: 5px;
        padding: 13px 5px;
        justify-content: center;
    }

    .sidebar ul.reports li img {
        width: 20px;
        height: 20px;
        margin-right: 2px;
    }

    .filter-button-current {
        padding: 5px 25px;
        font-size: 12px;
        width: 25%;
    }

    .filter-button {
        padding: 5px 25px;
        font-size: 12px;
        width: 25%;
    }

    .filter-button img, .filter-button-current img {
        width: 25px;
        height: 25px;
        margin: -5px 5px;
    }
    
    .search-container {
        display: flex;
        justify-content: flex-start;
    }

    .search-icon {
        transform: translateY(-50%);
        width: 21px;
        height: 21px;
    }

    #searchInput {
        width: 100px;
        padding: 7px 40px 7px 10px;
        font-size: 12px;
        margin-bottom: -2px;
    }
    
    .card {
        padding: 10px;
        width: 102%;
        max-width: 102%;
        height: 85.5vh;
        max-height: 86vh;
        margin: 0px auto auto 0px;
        box-sizing: border-box;
    }

    .stock-controls {
        margin-left: 0px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .stock-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .stock-card, .stock-card.add-new {
        padding: 10px;
        width: 100%;
        height: auto;
        max-height: 345px;
    }

    .stock-card img {
        max-height: 150px; 
    }

    .stock-actions {
        flex-direction: row;
        margin-bottom: 5px;
    }

    .stock-card h4 {
        font-size: medium;
    }

    .stock-card p {
        margin: small;
    }

    .stock-card h3 {
        font-size: small;
    }

    .stock-actions .edit-button, 
    .stock-actions .delete-button,
    .add-stock-button {
        padding: 5px 10px; 
        width: 100%; 
        margin: 0px;
    }

}

